# Visual Studio / VS Code local setup
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Visual Studio build outputs
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
ipch/
*.ilk
*.pdb
*.idb
*.iobj
*.ipdb

# Nordic/GNU Make build outputs
_build/

build*/

# Python
__pycache__/
Network_Python_RRT+UART/beacon_summary.csv
Network_Python_RRT+UART/contacts.csv
Network_Python_RRT+UART/eco_sessions.csv
Network_Python_RRT+UART/*.csv
Network_Beacon_nrf54/.claude/settings.json
Network_Python_RRT+UART/*.log
Network_Python_RRT+UART/*.log
